.chat-div{
    width: 50%;
}

.messages-div {
    height: 87%;
    overflow-y: auto;
    background-color: rgb(35, 35, 35);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding-top: 4vmin;
}

.user-msg {
    background-color: rgb(30, 30, 30);
    align-self: flex-end;
    margin-right: 2vmax;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: .5em;
    margin-bottom: 1vmin;
    max-width: 50%;

}
.match-msg {
    background-color: rgb(70, 203, 98);
    align-self: flex-start;
    margin-left: 2vmax;
    margin-right: 2vmax;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: .5em;
    margin-bottom: 1vmin;
    max-width: 50%;

}

.user-msg>p, .match-msg>p {
    /* background-color: rgb(35, 35, 35); */
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}
.match-msg>p, .match-msg>small{
    background-color: rgb(70, 203, 98);
    color: black;
}

small {
    background-color: rgb(35, 35, 35);
}

.chat-form{ 
    display: flex; 
    padding: 1vmin; 
}

.chat-form > input {
    height: 3em;
    margin-right: 0.5vmax;
    width: 38vmax;
}

.chat-form > button{
    margin: 0; 
    width: 5vmax; 
}

